<h1>Enquiry</h1>
    <p style="text-align:justify">
      The Surrey Biodiversity Information Centre provides a biodiversity enquiry service, also known as a data search. If you are looking for a biodiversity information, we provide a full data management service by acting as custodians of high-quality biological and environmental data. All you need to do is request for information. Just follow the these three steps:<br>
      <ol>
      <li><b>Download the information request form</b><br><br>
      <a href = "/forms/information-form.pdf"><i>Download as PDF</i></a><br>
      <a href = "/forms/information-form.doc"><i>Download as Doc</i></a><br><br>
      <li><b>Complete the form</b><br><br>
      <li><b>Send it to us via email, fax or post. You can find the details in <i><%= link_to "Contact Us", contact_path %></i></b>
      </ol>
    </p>

