<h1>Welcome to SBIC</h1>
<p style="text-align:justify">
      Surrey is a county rich in wildlife. Surrey Biodiversity Information Centre (SBIC) is established to collect, manage and disseminate information on the flora, fauna and habitats of Surrey. In doing so the Centre seeks to hold as comprehensive a record of the wildlife of Surrey as possible. Through this site, we enable users to <a href = "/record"><b>Record Species</b></a> online.
</p>
<img alt="butterfly-image" class="round" src="/images/butterfly.jpg" />
<p style="text-align:justify">
Surrey is the most wooded county in England and its heathland is of international importance. The North Downs supports chalk grassland and Surrey acts as a stronghold for species such as the silver-spotted skipper. Surrey Wildlife Trust is adopting a bold approach towards delivering and influencing wildlife conservation and biodiversity and encouraging people to understand and enjoy wildlife and wild spaces. This is based on our vision - to create a 'Living Landscape', rich in wildlife and valued by all.
</p>


