<h1>News and Events</h1>
<b>(January 9, 2012) Make a difference: plant a tree or two, or three...</b>
<img alt="treeplanting-image" class="round" src="/images/treeplanting.jpeg" />
<p style="text-align:justify">
Surrey Wildlife Trust (SWT) is offering volunteers the chance to make a difference to their local environment by rolling up their sleeves and taking part in tree planting events at the beautiful Norbury Park (which it manages on behalf of SCC), near Leatherhead.  A whopping 2,200 deciduous native trees (including ash, cherry and field maple), purchased with local donations and a grant from the Forestry Commission, are ready to be planted in an area of woodland called the 'Scrubs’.  The new trees will replace harvested softwoods and create a much more valuable habitat, especially for woodland birds, small mammals and insects, as well as enhancing the area for visitors. 
</p>
<i><%= link_to "More NEWS and Events...", "#" %></i>


