<h1>Services and Support</h1>
<p style="text-align:justify">
The record centre is always involved in a wide variety of projects, activities and surveys, and provides a number of services beyond our standard enquiry service. These range from the long-term Surrey survey project run by Haris Roberts to modelling of potential habitat on the development of custom software to aid in record entry.
</p>
<p style="text-align:justify">
We are also able to make effective use of the data we hold by engaging in analysis and desk-study projects. We are able to use our technical expertise to manipulate and import large quantities of data, thus we are regularly engaged in projects with indivduals, recording schemes, partners and organisations to import their data into our central database. 
</p>

