<h1>Survey</h1>

<p style="text-align:justify">
<b>Initial surveys:</b> We have distributed several thousand Sussex Hedgerow Survey leaflets with information about our hedgerows and asking people to help us by selecting and surveying their favourite ones. Over 700 hedgerow survey forms have been returned to us so far and more than half (over 60 km) have already been added to the database. Please keep them rolling in! You may download a copy of the survey leaflet in PDF format (308Kb), or you can also download just the tear-off survey slip and we will scrutinise each survey form and identify the more important or species-rich hedgerows for detailed, full surveying.
</p>
<p style="text-align:justify">
<b>Full surveys:</b> Not only are these being done as a follow-on to the initial surveys, but we also have trained volunters who are busy surveying random quarter kilometer sample squares in the different Surrey ‘Natural Areas’. If you would care to join that happy band, please get in touch with us. Additionally, several Sussex parishes are undertaking full parish hedgerow surveys. If you are thinking of setting up a similar scheme in your parish and would like some help, please let us know. Copies of the Full Surrey survey form are available here, please do get involved. 
</p>
