<td width = "280" style="vertical-align:top;">
       <% image1 = image_tag("news_events.jpg", :alt => "News and Events", :class => "round") %>
       <%= link_to image1, news_path %>
       <br>
       <% image2 = image_tag("enquiry.jpg", :alt => "Enquiry services", :class => "round") %>
       <%= link_to image2, enquiry_path %>
       <br>
       <% image3 = image_tag("recordspecies.jpg", :alt => "Record Species", :class => "round") %>
       <%= link_to image3, recordSpecies_path %>
       <br>
       <% image4 = image_tag("survey.jpg", :alt => "Get involved in survey", :class => "round") %>
       <%= link_to image4, survey_path %>
</td>
